/*reglas generales */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans', sans-serif !important;
    background-color: #F8F9FA;
}

/* reglas color texto */

h1, h2, h3, h4, h5{
    color: #212529;
    font-weight: 500 !important;
}

/* reglas parrafos */

p{
    color: #343A40;
    letter-spacing: 0.3px;
    text-align: justify;
}

/* reglas header */

.navbar-nav a{
    color: #212529 !important;
    font-weight: bolder;
}

.container-fluid{
    align-items: end !important;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar{
    background-color: #ADB5BD !important;
}

/* reglas main */

#carouselImagenes{
    background-color: #E9ECEF;
}

/* reglas section */

section{
    text-align: center;
}

section div ul{
    padding: 2px 20px 2px 20px;
    list-style-type: circle;
}

section div ul li{
    color: #343A40;
    text-align: left;
    padding: 7px 0 7px 0;
}



.peli-1 p, .peli-2 p{
    text-align: center;
}

.peli-1{
    background-color: #E9ECEF;
}

.peli-2{
    background-color: #DEE2E6;
}

/* relgas footer */

footer{
    background-color: #ADB5BD !important;
    }
footer a i {
    color: #343A40;
}
footer p{
    font-size: small;
}

/* clases */

.curiosidad{
    background-color: #E9ECEF;
}

.contexto{
    background-color: #DEE2E6;
    padding: 20px;
}

.curiosidad, .contexto{
    padding: 20px;
}

.contexto h2, .curiosidad h2{
    padding: 10px 0 20px 0;    
}

.contexto p, .curiosidad p{
    padding: 2px;
}

/* .peli-1 h2, .peli-2 h2,  */